{% extends "base.html.twig" %}
{% block title %}
	Bibliothèque - Accueil
{% endblock %}

{% block body %}

	<div class="container mt-4">
	<div class="jumbotron">
		<h1 class="display-4">Bienvenue sur la Bibliothèque !</h1>
		<p class="lead">Bibliothèque est une application qui va te
						permettre de louer des livres</p>
	</div>
</div>{% endblock %}
